.phone{
    background-color:#2759ab;
    color: antiquewhite;
}

.mail{
    background-color:#f59019;
    color: antiquewhite;
}
.location{
    background-color:#6099f7;
    ;
    color: antiquewhite;
}

.phone{
    padding: 70px;
    border-radius: 5px;
    margin: 40px;
}
.mail{
    padding: 70px;
    border-radius: 5px;
    margin: 40px;
}
.location{
    padding: 70px;
    border-radius: 5px;
    margin: 40px;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}


footer {
    background-color: #222;
    padding: 70px 0 20px;
    overflow: hidden
}

.footer-text {
    letter-spacing: .5px;
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.5;
    text-decoration-line:none;
}

.footer-border {
    border-color: #0e0e0e !important
}

.footer-link i {
    width: 14px;
    font-size: 11px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px 8px 6px;
    height: 10px;
    transition: .3s
}

.footer-link:hover i {
    background-color: var(--sonika-tertary-color);
    border-color: var(--sonika-tertary-color)
}

.footer-bottom-text {
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 300;
    word-spacing: 5px;
    line-height: 20px;
    color: var(--sonika-primary-colornew);
}

.footer-contact .footer-text{
    transition: .1s;
}


